/* General Styles */
body {
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: darkblue;
    color: white;
    text-align: center;
    margin: 0;

}
/* quote container */

/* author name */

/* button styles */